@use '/src/styles/utils/mixins' as *;

.wrapper,
.about .about__text {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 16px;

    @include tablet  { width: 720px; }
    @include laptop  { width: 960px; }
    @include desktop { width: 1140px; }
}