.contact {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin: 100px 0 100px 0;

    .contact__heading {
        font-size: 1.5rem;
    }
}