@use '/src/styles/utils/mixins' as *;

.footer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    align-items: center;
    padding: 40px 0;
    color: white;
    margin-top: 50px;
    background-color: #29292c;

    p {
        font-size: 0.8rem;
    }

    &__socials {
        display: flex;
        gap: 10px;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    @include tablet {
        &__socials {
            img {
                height: 55px;
                width: 55px;
            }
        }
    }
}