@use '/src/styles/utils/mixins' as *;

.journal {
    margin-top: 80px;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;

    .journal__heading {
        position: relative;
    }

    .journal__description {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;
        
        p {
            color: var(--secondary-text-color);
        }
    }
    
    .journal__cards {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;

        .journal__card {
            text-decoration: none;
            color: inherit;
            transition: all 0.2s ease;
            padding: 10px 0;
            flex: 0 0 100%;

            img {
                width: 33%;
                float: left;
                margin-right: 10px;
            }
    
            .journal__card-date-n-theme {
                margin-bottom: 5px;
                font-size: 0.8rem;
                color: grey;
                text-transform: uppercase;
            }
    
            h3 {
                font-size: 1rem;
                margin: 5px 0;
            }
    
            p {
                font-size: 0.8rem;
                color: var(--secondary-text-color);
            }
            
            &:hover {
                box-shadow: 0 4px 8px rgba(0,0,0,0.3);
                transform: translateY(-3px);
            }

            &:active {
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                transform: scale(0.98); 
            }
        }
    }

    @include tablet {
        .journal__description {
            justify-content: flex-start;
        }

        .journal__cards {
            gap: 20px;

            .journal__card {
                flex: 0 0 calc(50% - 10px);

                img {
                    margin-right: 15px;
                }
            }

            .journal__card:not(:last-child) {
                border: none;
            }
        }
    }
}