@use 'base' as *;
@use 'layout' as *;
@use 'components' as *;
@use 'utils/mixins' as *;

:root {
    --main-color: #ff5f60;
    --main-text-color: #3e3e3e;
    --secondary-text-color: #818181;
}

*, html, body {
    font-family: "Stack Sans Text", sans-serif;
}

html {
    font-size: 15px;
    color: var(--main-text-color);
    font-weight: 200;

    @include tablet { font-size: 18px; }
    @include laptop { font-size: 20px; }
    @include desktop { font-size: 24px; }
}

body {
    font-size: 1rem;
}

.heading--primary {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
}
